*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background  : linear-gradient(#856349,#88777d ,#a98d89,#938c9a,#e3eded );
}
html{font-family:  Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
}
section ,aside , form,main,footer{
    margin: 30px;
}
h1{background: linear-gradient(#856349 ,#88777d ,#a98d89,#b1b6b6,#938c9a );
background-clip: text;
-webkit-text-fill-color: transparent;
font-size: 40px;
text-align: center;
}
h2{color:#4b3728;
text-transform: capitalize;}
p{  line-height: 40px;
margin: 10px;}
nav{background: linear-gradient(#e3eded,#88777d ,#a98d89,#938c9a,#856349 );
background-clip: text;
-webkit-text-fill-color: transparent;
    display:inline;
    height: 60px;
    text-transform: capitalize;
}
nav a{text-decoration-line: none;
color: #35271d;
padding-inline-start: 20px;
}
.aboutus{text-align:justify;
    line-height: 30px;
    padding: 50px;
}
.resume{text-align:justify; 
    line-height: 30px;
    padding: 20px;
}
 img{padding: 20px;
    border-radius: 25%;
    width: 500px;
}
.work{text-align:justify; 
    line-height: 30px;
    padding: 20px;
   
}
ul{ list-style-type: none;}
    
form{background-color:#88777d;
    padding: 20px;
   
}
form textarea , input{background-color:transparent;
    width:500px;
    
}  a{text-decoration-line: none;color:#35271d;}
footer{display: inline;
text-align: center;}
